*{
    margin: 0;
    padding: 0;  
}
body {
    background-color:black;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5b5a5a;
    padding: 15px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    text-align: center;
}
#nav #nav_ul .nav_ul_li{
    list-style-type: none;
    padding: 0;
    display: inline;
    margin: 0 15px;
    text-decoration: none;
    
}
 a {
    color: white; 
}
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.content {
    max-width: 500px;
}
.profile img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
button {
    background-color: #4caf50;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.clients {
    text-align: center;
    padding: 20px;
}
.logos img {
    margin: 10px;
    width: 100px;
}